* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    mily: 'Work Sans', sans-serif;
  }
  
  .Home,
  .Portafolio,
  .Contact,
  .About {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .Portafolio {
    background-image: url('');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .Contact {
    background-image: url('');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .About {
    background-image: url('');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }